main {padding: 20px;}

header {background-color: #003366; color: white; text-align: center;}

nav {background-color: #f4f6f9; padding: 10px;}

footer {background-color: #214175; color:white; text-align:center;}